<div class="invalid-route-message py-3">
  <span>The page you requested does not exist</span>
</div>
<div class="invalid-route-message py-3">
  <span>Use the navigation bar to explore the app</span>
</div>