<div class="instructions-holder">
  <div class="instructions-heading">
    <span>{{ domStrings.instructionElement.instructionHeading }}</span>
  </div>
  <div class="instruction"
    *ngFor="let instructionText of domStrings.instructionElement.instructionsArray">
    <div class="bullet">
      <div class="bullet-block"></div>
    </div>
    <div class="instruction-text">
      <span>{{ instructionText }}</span>
    </div>
  </div>
</div>

<div class="separator"></div>

<div class="form">
  <div class="form-field">
    <div class="field-label">
      <label for="server-name">{{ domStrings.formElements.labelStrings.serverName }}</label>
    </div>
    <div class="field-input">
      <input type="text" class="form-control" (input)="getServerName($event)" autofocus="true" />
    </div>
  </div>
  <div class="form-button">
    <div class="field-button">
      <button class="btn btn-primary" (click)="addNewServer()"
        [disabled]="!domBehaviour.allowNewServer">{{ domBehaviour.buttonText }}</button>
    </div>
  </div>
</div>

<div class="status-holder">
  <div class="status"><span>{{ domBehaviour.statusText }}</span></div>
</div>

<div class="separator" *ngIf="domBehaviour.isServerAvailable"></div>

<div class="servers-holder" *ngIf="domBehaviour.isServerAvailable">
  <div class="server" *ngFor="let userServer of userServers">
    <div class="server-text">
      <span>{{ userServer.serverName }}</span>
    </div>
    <div class="status-text"
      [ngClass]="{ online: userServer.serverStatus === 'online', offline: userServer.serverStatus === 'offline' }">
      <span>{{ userServer.serverStatus }}</span>
    </div>
  </div>
</div>