<app-server-instruction [serverInstruction]="serverElements"></app-server-instruction>
<div class="separator"></div>
<app-server-form [serverForm]="serverElements" (serverCreateEvent)="serverCreateEvent($event)"></app-server-form>
<div class="separator" *ngIf="serverElements.domBehaviour.isServerAvailable"></div>
<app-server-display [serverDisplay]="serverElements" (serverCreateEvent)="displayNewServer($event)">
</app-server-display>