div {
  display: flex;
  flex-direction: column;
}

div.instructions-holder {
}

div.instruction {
  flex-direction: row;
  align-items: center;
}

div.ingredient {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

div.bullet,
div.index {
  padding: 1rem;
}

div.bullet div.bullet-block {
  padding: 3px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 1);
}

div.instruction-text {
  line-height: 1.5rem;
}

div.separator {
  margin: 1rem 0rem;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

div.form-field {
  align-items: center;
  flex-direction: row;
}

div.form-button {
  justify-content: center;
  align-items: center;
}

div.field-label label {
  margin: 0rem;
  text-align: right;
}

div.field-label,
div.field-input,
div.field-button {
  margin: 0.5rem;
  flex: 1;
}

button[disabled] {
  cursor: not-allowed;
}

@media only screen and (max-width: 420px) {
  div.form-field {
    flex-direction: column;
    align-items: stretch;
  }
  div.field-label label {
    text-align: left;
  }
}