<!-- <div class="instructions-holder">
  <div class="instruction" *ngFor="let instructionText of domStrings.instructionsArray">
    <div class="bullet">
      <div class="bullet-block"></div>
    </div>
    <div class="instruction-text">
      <span>{{ instructionText }}</span>
    </div>
  </div>
</div>

<div class="separator"></div>

<div class="form">
  <div class="form-field">
    <div class="field-label">
      <label for="ingredient-name">{{ domStrings.labelStrings.ingredientName }}</label>
    </div>
    <div class="field-input">
      <input type="text" name="ingredient-name" class="form-control" (input)="inputIngredient($event)" autofocus="true" />
    </div>
  </div>
  <div class="form-field">
      <div class="field-label">
        <label for="ingredient-quantity">{{ domStrings.labelStrings.ingredientQuantity }}</label>
      </div>
      <div class="field-input">
        <input type="text" name="ingredient-quantity" class="form-control" (input)="inputIngredient($event)" />
      </div>
    </div>
  <div class="form-button">
    <div class="field-button">
      <button class="btn btn-primary" [disabled]="!allowNewIngredient"
        (click)="addNewIngredient()">{{ buttonText.addButton }}</button>
    </div>
    <div class="field-button">
        <button class="btn btn-primary" [disabled]="!allowNewIngredient"
          (click)="addNewIngredient()">{{ buttonText.deleteButton }}</button>
      </div>
  </div>
</div>

<div class="separator"></div>

<div class="status-holder">
  <div class="status"><span>{{ statusText }}</span></div>
</div>

<div class="separator"></div>

<div class="ingredients-holder">
  <div class="ingredient" *ngFor="let ingredientName of userIngredients">
    <div class="ingredient-text">
      <span>{{ ingredientName.name }}</span>
    </div>
    <div class="ingredient-quantity">
      <span>{{ ingredientName.quantity }}</span>
    </div>
  </div>
  
</div> -->