div.recipe-item {
  cursor: pointer;
}

div.recipe-heading span {
  font-size: 2rem;
  font-weight: bold;
}

div.recipe-description span {
  white-space: normal;
  font-style: italic;
}

div.recipe-image img {
  width: 7.5rem;
}