<div class="list-group-item d-flex justify-content-between align-items-center recipe-item"
  [routerLinkActive]="['active']" [routerLink]="[index]">
  <div class="recipe-information">
    <div class="recipe-heading">
      <span class="list-group-item-heading">{{ recipe.name }}</span>
    </div>
    <div class="recipe-description">
      <span class="list-group-item-text">{{ recipe.description }}</span>
    </div>
  </div>
  <div class="recipe-image">
    <img [src]="recipe.image.path" [alt]="recipe.image.altText" class="img-responsive" />
  </div>
</div>