<div class="form-holder py-2" *ngIf="(newRecipe === true); else editRecipe">

  <!-- Form Caption -->
  <div class="form-caption">
    <span>New Recipe</span>
  </div>

  <form action="javascript:void(0)" [formGroup]="recipeForm">

    <!-- Recipe Name -->
    <div class="form-group">
      <div class="row align-items-center">
        <!-- Label -->
        <div class="col-md-4">
          <label for="recipe-name">Recipe Name</label>
        </div>
        <!-- Input -->
        <div class="col-md-8">
          <input type="text" class="form-control" autofocus="true" formControlName="name">
        </div>
      </div>
    </div>

    <!-- Recipe Description -->
    <div class="form-group">
      <div class="row align-items-center">
        <!-- Label -->
        <div class="col-md-4">
          <label for="recipe-name">Recipe Description</label>
        </div>
        <!-- Input -->
        <div class="col-md-8">
          <textarea class="form-control" rows="5" formControlName="description"></textarea>
        </div>
      </div>
    </div>

    <!-- Ingredients -->
    <div class="form-group">
      <div class="row align-items-center">
        <!-- Label -->
        <div class="col-md-4">
          <label for="recipe-name">Ingredients</label>
        </div>
      </div>
      <!-- Table -->
      <div class="row">
        <div class="col-md-12">
          <table class="table table-hover table-boredered">
            <!-- Table Header -->
            <thead>
              <tr>
                <th scope="col" class=" align-middle text-center">
                  <span>Ingredients</span>
                </th>
                <th scope="col" class="align-middle text-center">
                  <span>Quantity</span>
                </th>
                <th scope="col" class="align-middle text-center">
                  <span><i class="fa fa-cogs"></i></span>
                </th>
              </tr>
            </thead>
            <tbody formArrayName="ingredientsArray">
              <tr *ngFor="let ingredient of recipeForm.get('ingredientsArray').controls; let index = index"
                [formGroupName]="index">
                <!-- name Input -->
                <td class="align-middle">
                  <input type="text" class="form-control" placeholder="Name" formControlName="name">
                </td>
                <!-- quantity Input -->
                <td class="align-middle">
                  <input type="number" class="form-control" placeholder="Quantity" formControlName="quantity">
                </td>
                <!-- Delete Button -->
                <td class="align-middle text-center">
                  <button type="button" class="btn btn-outline-danger" (click)="deleteRow(index)">
                    <i class="fa fa-trash"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <!-- Add Button -->
      <div class="row">
        <div class="col-md-12 text-center">
          <button type="button" class="btn btn-success" (click)="addNewRow()">
            <span>Add New Ingredient</span>
          </button>
        </div>
      </div>
    </div>

    <!-- Recipe Image -->
    <div class="form-group">
      <!-- Recipe Image Chooser -->
      <div class="row align-items-center pb-1">
        <!-- Label -->
        <div class="col-md-4">
          <label for="recipe-name">Recipe Image</label>
        </div>
        <!-- Input -->
        <div class="col-md-8">
          <input type="file" disabled="true" class="custom-file-input" id="imageInput"
            accept="image/png, image/jpeg, image/svg+xml">
          <label class="custom-file-label" for="imageInput">Choose Image for the Recipe...</label>
        </div>
      </div>
      <!-- Alternate Text -->
      <div class="row align-items-center pt-1">
        <!-- Label -->
        <div class="col-md-4">
          <label for="recipe-name">Alternate Text</label>
        </div>
        <!-- Input -->
        <div class="col-md-8">
          <input type="text" class="form-control" disabled="true">
        </div>
      </div>
    </div>

    <!-- Create Recipe! -->
    <div class="form-group">
      <div class="row align-items-center">
        <div class="col-md-12 p-2">
          <button type="button" class="btn btn-primary btn-block" (click)="formSubmit()"
            [disabled]="!recipeForm.valid">Create Recipe</button>
        </div>
      </div>
    </div>

  </form>
</div>

<ng-template #editRecipe>
  <div class="form-caption">
    <span>Edit the recipe</span>
  </div>

  <form action="javascript:void(0)" [formGroup]="recipeForm">

    <!-- Recipe Name -->
    <div class="form-group">
      <div class="row align-items-center">
        <!-- Label -->
        <div class="col-md-4">
          <label for="recipe-name">Recipe Name</label>
        </div>
        <!-- Input -->
        <div class="col-md-8">
          <input type="text" [value]="recipeForm.get('name').value" class="form-control" autofocus="true"
            formControlName="name">
        </div>
      </div>
    </div>

    <!-- Recipe Description -->
    <div class="form-group">
      <div class="row align-items-center">
        <!-- Label -->
        <div class="col-md-4">
          <label for="recipe-name">Recipe Description</label>
        </div>
        <!-- Input -->
        <div class="col-md-8">
          <textarea [value]="recipeForm.get('description').value" class="form-control" rows="5"
            formControlName="description"></textarea>
        </div>
      </div>
    </div>

    <!-- Ingredients -->
    <div class="form-group">
      <div class="row align-items-center">
        <!-- Label -->
        <div class="col-md-4">
          <label for="recipe-name">Ingredients</label>
        </div>
      </div>
      <!-- Table -->
      <div class="row">
        <div class="col-md-12">
          <table class="table table-hover table-boredered">
            <!-- Table Header -->
            <thead>
              <tr>
                <th scope="col" class=" align-middle text-center">
                  <span>Ingredients</span>
                </th>
                <th scope="col" class="align-middle text-center">
                  <span>Quantity</span>
                </th>
                <th scope="col" class="align-middle text-center">
                  <span><i class="fa fa-cogs"></i></span>
                </th>
              </tr>
            </thead>
            <!-- <tbody formArrayName="ingredientsArray"> -->
            <tbody formArrayName="ingredientsArray">
              <tr *ngFor="let ingredient of recipeForm.get('ingredientsArray').controls; let index = index"
                [formGroupName]="index">
                <!-- name Input -->
                <td class="align-middle">
                  <input type="text" class="form-control" [value]="ingredient.value.name" placeholder="Name"
                    formControlName="name">
                </td>
                <!-- quantity Input -->
                <td class="align-middle">
                  <input type="number" class="form-control" [value]="ingredient.value.quantity" placeholder="Quantity"
                    formControlName="quantity">
                </td>
                <!-- Delete Button -->
                <td class="align-middle text-center">
                  <button type="button" class="btn btn-outline-danger" (click)="deleteRow(index)">
                    <i class="fa fa-trash"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <!-- Add Button -->
      <div class="row">
        <div class="col-md-12 text-center">
          <button type="button" class="btn btn-success" (click)="addNewRow()">
            <span>Add New Ingredient</span>
          </button>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="row align-items-center">
        <div class="col-md-4">
          <label for="recipe-name">Recipe Image</label>
        </div>
        <div class="col-md-8">
          <div class="row align-items-center">
            <div class="col-md-4">
              <button type="button" class="btn btn-outline-primary btn-block" disabled="true"><i
                  class="fa fa-pencil"></i></button>
            </div>
            <div class="col-md-8">
              <span>{{ imageName }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="row align-items-center">
        <div class="col-md-12 p-2">
          <button type="button" class="btn btn-primary btn-block" (click)="formSubmit()"
            [disabled]="!recipeForm.valid">Edit Recipe</button>
        </div>
      </div>
    </div>

  </form>
</ng-template>