<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

  <a class="navbar-brand" href="javascript:void(0)" [routerLink]="['']">Recipe Book</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav">
      <li class="nav-item" [routerLink]="['/recipes']">
        <a class="nav-link" href="javascript:void(0)">Recipes</a>
      </li>
      <li class="nav-item" [routerLink]="['/shopping-list']">
        <a class="nav-link" href="javascript:void(0)">Shopping List</a>
      </li>
      <li class="nav-item dropdown" id="dropdownMenuButton" data-toggle="dropdown">
        <a class="nav-link dropdown-toggle" href="javascript:void(0)">Manage</a>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <button class="dropdown-item btn btn-light" disabled="true">Save Data</button>
          <button class="dropdown-item btn btn-light" disabled="true">Fetch Data</button>
        </div>
      </li>
    </ul>
  </div>

</nav>