<div class="row">
  <div class="col-md-12">
    <div class="shopping-edit-holder">
      <app-shopping-edit></app-shopping-edit>
    </div>
    <div class="shopping-list-holder">
      <div class="shopping-list">
        <ul class="list-group">
          <li class="list-group-item" *ngFor="let ingredient of ingredients" (click)="populateForm(ingredient)">
            <a href="javascript:void(0)">{{ ingredient.name }} | {{ ingredient.quantity }}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>