<div class="header-holder">
  <div class="header">
    <app-recipe-header></app-recipe-header>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<!-- <div class="container">
  <div class="row">
    <div class="col-md-12">
      <app-server-status></app-server-status>
    </div>
  </div>
</div> -->