<div class="servers-holder" *ngIf="serverElements.domBehaviour.isServerAvailable">
  <div class="server" *ngFor="let userServer of serverElements.userServers">
    <div class="server-text">
      <span>{{ userServer.serverName }}</span>
    </div>
    <div class="status-text"
      [ngClass]="{ online: userServer.serverStatus === 'online', offline: userServer.serverStatus === 'offline' }">
      <span>{{ userServer.serverStatus }}</span>
    </div>
  </div>
</div>