div {
  display: flex;
  flex-direction: column;
}

div.server {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  line-height: 1.5rem;
}

div.server-text.blueprint-server {
  font-style: italic;
  color: rgb(66, 133, 244);
}

div.status-text.online {
  color: rgb(47, 189, 59);
}

div.status-text.offline {
  color: rgba(0, 0, 0, 1);
}
