div {
  display: flex;
  flex-direction: column;
}

div.status-holder {
  position: fixed;
  top: 0rem;
  right: 0rem;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 1);
  color: rgba(255, 255, 255, 1);
  font-family: "Consolas", monospace;
}

div.form-field {
  align-items: center;
  flex-direction: row;
}

div.form-button {
  justify-content: center;
  align-items: center;
}

div.field-label label {
  margin: 0rem;
  text-align: right;
}

div.field-label,
div.field-input,
div.field-button {
  margin: 0.5rem;
  flex: 1;
}

button[disabled] {
  cursor: not-allowed;
}

@media only screen and (max-width: 420px) {
  div.form-field {
    flex-direction: column;
    align-items: stretch;
  }
  div.field-label label {
    text-align: left;
  }
}
