<div class="form">
  <div class="form-field">
    <div class="field-label">
      <label for="server-name">{{ serverElements.domStrings.formElements.labelStrings.serverName }}</label>
    </div>
    <div class="field-input">
      <input type="text" class="form-control" (input)="getServerName($event)" [(ngModel)]="serverName"
        autofocus="true" />
    </div>
  </div>
  <div class="form-button">
    <div class="field-button">
      <button class="btn btn-primary" (click)="addNewServer()"
        [disabled]="!serverElements.domBehaviour.allowNewServer">{{ serverElements.domBehaviour.buttonText }}</button>
    </div>
  </div>
</div>

<div class="status-holder">
  <div class="status"><span>{{ serverElements.domBehaviour.statusText }}</span></div>
</div>