<div class="row">
  <div class="col-md-12">
    <div class="button py-3">
      <button class="btn btn-success btn-block" (click)="newRecipeClicked()">New Recipe</button>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <app-recipe-item [recipeBind]="eachRecipe" *ngFor="let eachRecipe of recipesArray; let i = index" [indexBind]="i">
    </app-recipe-item>
  </div>
</div>