<div class="py-3">

  <div class="row py-2 align-items-end">
    <div class="col-md-3">
      <div class="recipe-name">
        <span>{{ selectedRecipe.name }}</span>
      </div>
      <div class="recipe-description">
        <span>{{ selectedRecipe.description }}</span>
      </div>
    </div>
    <div class="col-md-9">
      <div class="recipe-image d-flex justify-content-center align-items-center">
        <img [src]="selectedRecipe.image.path" [alt]="selectedRecipe.image.altText" class="img-responsive">
      </div>
    </div>
  </div>

  <!-- <div class="row py-2">
    <div class="col-md-12">
      <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton"
          data-toggle="dropdown">Manage Recipe</button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <button class="dropdown-item btn btn-light" (click)="addIngredientsToList()" disabled="true">Add To Shopping
            List</button>
          <button class="dropdown-item btn btn-light" (click)="editRecipeClicked()">Edit Recipe</button>
          <button class="dropdown-item btn btn-light" disabled="true">Delete Recipe here</button>
        </div>
      </div>
    </div>
  </div> -->

  <div class="row py-2 btn-group">
    <div class="col-md-4 d-flex justify-content-center align-items-stretch py-2">
      <button class="btn btn-outline-primary btn-block" (click)="addIngredientsToList()" disabled="true">Add to Shopping
        List</button>
    </div>
    <div class="col-md-4 d-flex justify-content-center align-items-stretch py-2">
      <button class="btn btn-primary btn-block" (click)="editRecipeClicked()">Edit Recipe</button>
    </div>
    <div class="col-md-4 d-flex justify-content-center align-items-stretch py-2">
      <button class="btn btn-danger btn-block" (click)="deleteRecipeClicked()">Delete Recipe
        here</button>
    </div>
  </div>

  <div class="row py-2">
    <div class="col-md-12">
      <table class="table table-hover table-bordered">
        <thead>
          <tr>
            <th scope="col" class="text-center">Ingredient</th>
            <th scope="col" class="text-center">Quantity</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let ingredient of selectedRecipe.ingredientsArray">
            <td class="align-middle">{{ ingredient.name }}</td>
            <td class="align-middle text-right">{{ ingredient.quantity }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>