<div class="row">
  <div class="col-md-12">
    <form action="javascript:void(0)">

      <div class="row col-md-12 py-2 form-caption">
        <span>Shopping List</span>
      </div>

      <div class="row justify-content-center align-items-center py-1"
        *ngIf="(selectedIngredient !== undefined); else nothingSelected">
        <div class="col-md-6 form-group">
          <label for="ingredient-name">Ingredient Name</label>
          <input type="text" name="ingredient-name" class="form-control" placeholder="Name"
            [value]="selectedIngredient.name" #inputName>
        </div>
        <div class="col-md-3 form-group">
          <label for="ingredient-quantity">Ingredient Quantity</label>
          <input type="number" name="ingredient-quantity" class="form-control" placeholder="Quantity"
            [value]="selectedIngredient.quantity" #inputAmount>
        </div>
        <div class="col-md-3 form-group">
          <input type="submit" value="Edit Ingredient" class="btn btn-primary btn-block"
            (click)="ingredientAddClicked()" disabled="true">
        </div>
      </div>

      <ng-template #nothingSelected>
        <div class="row justify-content-center align-items-center py-1">
          <div class="col-md-6 form-group">
            <label for="ingredient-name">Ingredient Name</label>
            <input type="text" name="ingredient-name" class="form-control" placeholder="Name" #inputName>
          </div>
          <div class="col-md-3 form-group">
            <label for="ingredient-quantity">Ingredient Quantity</label>
            <input type="number" name="ingredient-quantity" class="form-control" placeholder="Quantity" #inputAmount>
          </div>
          <div class="col-md-3 form-group">
            <input type="submit" value="Add Ingredient" class="btn btn-primary btn-block"
              (click)="ingredientAddClicked()" disabled="true">
          </div>
        </div>
      </ng-template>

    </form>
  </div>
</div>