div {
  display: flex;
  flex-direction: column;
}

div.instructions-holder {
}

div.instructions-heading span {
  font-size: 2rem;
}

div.instruction {
  flex-direction: row;
  align-items: center;
}

div.bullet,
div.index {
  padding: 1rem;
}

div.bullet div.bullet-block {
  padding: 3px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 1);
}

div.instruction-text {
  line-height: 1.5rem;
}
