<div class="instructions-holder">
  <div class="instructions-heading">
    <span>{{ serverElements.domStrings.instructionElement.instructionHeading }}</span>
  </div>
  <div class="instruction"
    *ngFor="let instructionText of serverElements.domStrings.instructionElement.instructionsArray">
    <div class="bullet">
      <div class="bullet-block"></div>
    </div>
    <div class="instruction-text">
      <span>{{ instructionText }}</span>
    </div>
  </div>
</div>